In [ ]:
# Comprehensions: List, Dictionary

In [1]:
# list
a = [i for i in range(5)]
print(a)

[0, 1, 2, 3, 4]

In [2]:
a = [int(input("Enter value")) for i in range(5)]
print(a)

Enter value12
Enter value13
Enter value14
Enter value15
Enter value16
[12, 13, 14, 15, 16]

In [3]:
a = list(int(input("Enter value")) for i in range(5))
print(a)

Enter value44
Enter value45
Enter value46
Enter value47
Enter value48
[44, 45, 46, 47, 48]

In [4]:
data = ["Apple","Ball","cat","Dog","egg","fish"]
a = list(i for i in data if i[0].isupper())
a

['Apple', 'Ball', 'Dog']

In [5]:
data = {i:i**2 for i in range(1,11)}
data

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [6]:
a = ["Apple","Ball","cat","Dog","egg","fish"]
data = {i:i.lower() for i in a}
list(data.values())

['apple', 'ball', 'cat', 'dog', 'egg', 'fish']

In [7]:
# Python date & time
import datetime

x = datetime.datetime.now()
x

datetime.datetime(2022, 12, 4, 17, 8, 50, 834357)

In [8]:
# for different format
import datetime

x = datetime.datetime.now()

print(x.strftime("%a"))
print(x.strftime("%A"))
print(x.strftime("%Y"))
print(x.strftime("%c"))

Sun
Sunday
2022
Sun Dec  4 17:08:51 2022

In [9]:
# time taken to enter input
import datetime

x = datetime.datetime.now()
name = input("Enter name = ")
y = datetime.datetime.now()
print(y-x)

Enter name = Jargha
0:00:08.108855

In [10]:
import pandas as pd
df = pd.read_csv('new_data.csv')
df

# for excel file
# df = pd.read_excel('filename.xlsx')
# df

   sn   name  age         add       phone
0   5  Anjit   55  Harisiddhi  9809765432
1   6   Jack   98     Hatiban  9800112255

In [11]:
import os
os.listdir()

['tuple.ipynb',
 'mysql.ipynb',
 'Screen Shot 2022-10-22 at 7.38.24 PM.png',
 'function.ipynb',
 '.DS_Store',
 'set.ipynb',
 'bill.csv',
 'list.ipynb',
 'file.ipynb',
 'intro.ipynb',
 'oop.ipynb',
 'bonus.ipynb',
 'dictionary.ipynb',
 'new_data.csv',
 'boooks.csv',
 'string.ipynb',
 'if else statement.ipynb',
 'new_data1.csv',
 'data.csv',
 'inheritance.ipynb',
 'loop.ipynb',
 'bill.txt',
 'list_data.csv',
 '.ipynb_checkpoints',
 '.git',
 'pandas.ipynb',
 'data.txt']

In [12]:
os.mkdir ('NewFolder')

In [13]:
os.chdir('NewFolder')

In [14]:
pwd

'/Users/anuj/python430/NewFolder'

In [16]:
cd ..

/Users/anuj/python430

In [18]:
n = int(input("Enter n = "))
for i in range(1,n+1):
    x = int(input(f"Enter {i} value = "))
    print(x)

Enter n = 5
Enter 1 value = 70
70
Enter 2 value = 50
50
Enter 3 value = 30
30
Enter 4 value = 60
60
Enter 5 value = 90
90

In [20]:
sub = ['Physic','Chemistry','Math']
n = int(input("Enter n = "))
for i in range(n):
    x = int(input(f"Enter {sub[i]} marks = "))
    print(x)

Enter n = 3
Enter Physic marks = 43
43
Enter Chemistry marks = 53
53
Enter Math marks = 66
66