In [ ]:
# Dictionary
# -Indexed
# -Multiple and duplicate value
# -Ordered
# -Mutable

In [1]:
# d = {<key>:<value>,<key>:<value>,...}
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [2]:
info = {'name':'Ram','age':10,'add':'Nepal'}
print(info['name'])
print(info['age'])
print(info['add'])

Ram
10
Nepal

In [3]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [5]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Anuj'}# mutable
print(d)

{'a': 'Anuj', 'b': 'Ball', 'c': 'Cat'}

In [6]:
# d = dict()
# d = {} both empty dictionary
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [9]:
n = int(input("Enter n = "))
info = {}
foin = {}
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone no = "))
    info[name] = phone
    foin[phone] = name
    
print(info)
print(foin)

Enter n = 2
Enter name = ram
Enter phone no = 34324343
Enter name = sam
Enter phone no = 4324343
{'ram': 34324343, 'sam': 4324343}
{34324343: 'ram', 4324343: 'sam'}

In [10]:
a = {'Ram':9808428089,'Shyam':9812345678}
for i in a.values():
    print(i)

9808428089
9812345678

In [15]:
l = [] # tuple inside list
a = {'Ram':9808428089,'Shyam':9812345678}
for i in a.items():
    l.append(i)
    
print(l)

[('Ram', 9808428089), ('Shyam', 9812345678)]

In [16]:
dict(l) # converted list into dictionary

{'Ram': 9808428089, 'Shyam': 9812345678}

In [ ]:
# No + * dictionary never enlarge

In [17]:
d = {'Ram':98748348343,'Shyam':392849083834}
a = {'Hari':43627863}
d.update(a)
d

{'Ram': 98748348343, 'Shyam': 392849083834, 'Hari': 43627863}

In [18]:
a = {'Ram': 98748348343, 'Shyam': 392849083834, 'Hari': 43627863} #update
a['Ram'] = 9800077707
a

{'Ram': 9800077707, 'Shyam': 392849083834, 'Hari': 43627863}

In [19]:
# key with multiple value also called list in dictionary
a = {'Ram': [98748348343,798324893],
     'Shyam': [392849083834,63455454],
     'Hari': [43627863,545435454]}
print(a)

{'Ram': [98748348343, 798324893], 'Shyam': [392849083834, 63455454], 'Hari': [43627863, 545435454]}

In [20]:
data = {'Name':['Ram','Shayam','Hari'],
       'Age':[23,65,32],
       'Add':['Bara','Rara','Para']}
data

{'Name': ['Ram', 'Shayam', 'Hari'],
 'Age': [23, 65, 32],
 'Add': ['Bara', 'Rara', 'Para']}

In [21]:
n = int(input("Enter n ="))
info = {}
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no = "))
    info[name] = [ntc,ncell]
    
print(info)

Enter n =2
Enter name = fsdf
Enter ntc no = 4343
Enter ncell no = 4343
Enter name = fdfdfd
Enter ntc no = 43434
Enter ncell no = 556
{'fsdf': [4343, 4343], 'fdfdfd': [43434, 556]}

In [23]:
n = int(input("Enter n ="))
data = {'Name':[],'Age':[],'Add':[]}
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data['Name'].append(name)
    data['Age'].append(age)
    data['Add'].append(add)
    
print(data)

Enter n =3
Enter name = ram
Enter age = 12
Enter add = ktm
Enter name = shyam
Enter age = 45
Enter add = lat
Enter name = tam
Enter age = 76
Enter add = bhak
{'Name': ['ram', 'shyam', 'tam'], 'Age': [12, 45, 76], 'Add': ['ktm', 'lat', 'bhak']}

In [25]:
a = {'Name': ['ram', 'shyam', 'tam'], 'Age': [12, 45, 76], 'Add': ['ktm', 'lat', 'bhak']}
a['Name'].append('Anuj')
a['Age'].append(22)
a['Add'].append('Harisiddhi')
print(a)

{'Name': ['ram', 'shyam', 'tam', 'Anuj'], 'Age': [12, 45, 76, 22], 'Add': ['ktm', 'lat', 'bhak', 'Harisiddhi']}

In [26]:
# del pop()
d = {'Name': ['ram', 'shyam', 'tam', 'Anuj'], 'Age': [12, 45, 76, 22], 'Add': ['ktm', 'lat', 'bhak', 'Harisiddhi']}
del d['Add']
d

{'Name': ['ram', 'shyam', 'tam', 'Anuj'], 'Age': [12, 45, 76, 22]}

In [31]:
# del pop()
d = {'Name': ['ram', 'shyam', 'tam', 'Anuj'], 'Age': [12, 45, 76, 22], 'Add': ['ktm', 'lat', 'bhak', 'Harisiddhi']}
del d['Name'][1]
del d['Age'][1]
del d['Add'][1]
d

{'Name': ['ram', 'tam', 'Anuj'],
 'Age': [12, 76, 22],
 'Add': ['ktm', 'bhak', 'Harisiddhi']}

In [33]:
v = {'Name':['ram', 'tam', 'Anuj'], 'Age':[12, 76, 22], 'Add':['ktm', 'bhak', 'Harisiddhi']}
v['Add'][1] = "Dharan"
v

{'Name': ['ram', 'tam', 'Anuj'],
 'Age': [12, 76, 22],
 'Add': ['ktm', 'Dharan', 'Harisiddhi']}

In [1]:
# dictionary inside list
l = [{'name':'Ram','age':22,'add':'Bara'},
     {'name':'Sam','age':42,'add':'Lalitput'},
     {'name':'Tam','age':22,'add':'Jhapa'}]

In [9]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = {'name':name,'age':age,'add':add}
    data.append(info)
    
print(data)

Enter n = 2
Enter name = ram
Enter age = 12
Enter add = jhapa
Enter name = gham
Enter age = 33
Enter add = bara
[{'name': 'ram', 'age': 12, 'add': 'jhapa'}, {'name': 'gham', 'age': 33, 'add': 'bara'}]

In [17]:
data[0]['name'] = 'Rama'
data[1]['name'] = 'Tara'
data[0]['add'] = 'Kathmandu'
data[1]['add'] = 'Lalitpur'
data

[{'name': 'Rama', 'age': 12, 'add': 'Kathmandu'},
 {'name': 'Tara', 'age': 33, 'add': 'Lalitpur'}]

In [ ]:
# dict inside dict
# info = {1:{'name': 'Rama', 'age': 12, 'add': 'Kathmandu'},
#        2:{'name': 'Tara', 'age': 21, 'add': 'Lalitput'}}

In [19]:
data = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = {'name':name,'age':age,'add':add}
    data[i] = info

print(data)

Enter n = 2
Enter name = tara
Enter age = 32
Enter add = jhapa
Enter name = para
Enter age = 65
Enter add = balaju
{1: {'name': 'tara', 'age': 32, 'add': 'jhapa'}, 2: {'name': 'para', 'age': 65, 'add': 'balaju'}}

In [26]:
# adding key and value
data[3] = {'name': 'sara', 'age': 42, 'add': 'dharan'}
data

{1: {'name': 'tara', 'age': 32, 'add': 'jhapa'},
 2: {'name': 'para', 'age': 65, 'add': 'balaju'},
 3: {'name': 'sara', 'age': 42, 'add': 'dharan'}}

In [27]:
# deleting data
data[3]['age'] = 91
del data[3]['age']
data

{1: {'name': 'tara', 'age': 32, 'add': 'jhapa'},
 2: {'name': 'para', 'age': 65, 'add': 'balaju'},
 3: {'name': 'sara', 'add': 'dharan'}}

In [ ]:
data = {1: {'name': 'tara', 'age': 32, 'add': {'per':'Ramechhap','temp':'Lalitpur'}},
 2: {'name': 'para', 'age': 65, 'add': {'per':'Jhapa','temp':'Kathmandu'}}}

In [ ]:
# key ma k k rakhna milla?

In [28]:
d = {'Jargha':[9843876655,9911736547],
    'Anuj':[9808989898,9854536738]}
d

{'Jargha': [9843876655, 9911736547], 'Anuj': [9808989898, 9854536738]}

In [29]:
d = {['Ram','Shyam']:898594594,
    ['Hari','Sita']:5894385940}
d

TypeError: unhashable type: 'list'

In [30]:
d = {('Ram','Shyam'):898594594,
    ('Hari','Sita'):5894385940}
d

{('Ram', 'Shyam'): 898594594, ('Hari', 'Sita'): 5894385940}

In [31]:
d['Ram']

KeyError: 'Ram'

In [32]:
d[('Ram','Shyam')]

898594594

In [33]:
d['Ram','Shyam']

898594594