In [1]:
# python collection
# list
# tuple
# dict
# set

In [2]:
# list
# -indexing or slicing
# -ordered
# -Multiple and duplicate value
# -mutable

In [3]:
a = ["Apple","Ball","Cat"]
b = [1,2,3,4,5,6,7,8,9]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
['Apple', 'Ball', 'Cat']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
a = ["Apple","Ball","Cat"]
print(a[2])

Cat

In [6]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [7]:
a = ["Apple","Ball","Cat"]
b = [1,2,3,4,5,6,7,8,9]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
a = ["Apple","Ball","Cat"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [9]:
a = [1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [10]:
phone = [9841234534,9841667759]
phone

[9841234534, 9841667759]

In [17]:
n = int(input("Enter n = "))
lisst = []
for i in range(n):
    name = input("Enter name = ")
    lisst = lisst+[name]
print(lisst)

Enter n = 3
Enter name = ram
Enter name = sam
Enter name = tam
['ram', 'sam', 'tam']

In [18]:
n = int(input("Enter n = "))
l = []
for i in range(n):
    x = int(input("Enter name = "))
    l = l+[x]
print(l)

Enter n = 3
Enter name = 12
Enter name = 31
Enter name = 44
[12, 31, 44]

In [19]:
print("The max value = ",max(l))
print("The min value = ",min(l))
print("The sum of all value = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

The max value =  44
The min value =  12
The sum of all value =  87
[12, 31, 44]
[44, 31, 12]

In [22]:
a = ["apple","zebre","Cat","banana"]
a.sort()
print(a)

['Cat', 'apple', 'banana', 'zebre']

In [23]:
a = ["apple","zebre","Cat","banana"]
for i in a:
    print(i)

apple
zebre
Cat
banana

In [24]:
a = ['Ram','Shyam','Hari','Ramesh']
print("Length of a = ",len(a))
if "Ram" in a:
    print("Yes",a.count("Ram"))
else:
    print("No")

Length of a =  4
Yes 1

In [ ]:
# write list
# append() insert() extend()
# delete
# del remove() pop()

In [25]:
a = ['Ram','Shyam','Hari','Ramesh']
a.append("Rajesh")
print(a)

['Ram', 'Shyam', 'Hari', 'Ramesh', 'Rajesh']

In [29]:
a = ['Ram','Shyam','Hari','Ramesh']
a.insert(1,"Sita")
print(a)

['Ram', 'Sita', 'Shyam', 'Hari', 'Ramesh']

In [30]:
a = ["Apple","Ball","Cat"]
b = [1,2,3,4,5,6,7,8,9]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
n = int(input("Enter n = "))
l = []
for i in range(n):
    x = input("Enter x = ")
    l.append(x)
    
print(l)

Enter n = 3
Enter x = haha
Enter x = hehe
Enter x = hoho
['haha', 'hehe', 'hoho']

In [35]:
# del
a = ['Ram','Shyam','Hari','Ramesh']
del a[0]
a

['Shyam', 'Hari', 'Ramesh']

In [36]:
# remove()
a = ['Ram','Shyam','Hari','Ramesh']
a.remove("Hari")
print(a)

['Ram', 'Shyam', 'Ramesh']

In [38]:
# pop()
a = ['Ram','Shyam','Hari','Ramesh']
b = a.pop(1)
print(a)
print(b)

['Ram', 'Hari', 'Ramesh']
Shyam

In [39]:
# del
a = ['Ram','Shyam','Hari','Ramesh']
del a[0:2]
a

['Hari', 'Ramesh']

In [43]:
# remove()
a = ['Ram','Shyam','Hari','Ramesh','Ram']
c = a.count("Ram")
for i in range(c):
    a.remove("Ram")
print(a)

['Shyam', 'Hari', 'Ramesh']

In [46]:
a = ['Ram','Shyam','Hari','Ramesh','Ram']
a.index("Ram")

0

In [47]:
a = ['Ram','Shyam','Hari','Ramesh','Ram']
n = len(a)
for i in range(n):
    print(a[i])

Ram
Shyam
Hari
Ramesh
Ram

In [48]:
a = "Python"
n = len(a)
for i in range(n):
    print(a[i])

P
y
t
h
o
n

In [51]:
a = ['Ram','Shyam','Hari','Ramesh','Ram','Shyam','Ram']
n = len(a)
for i in range(n):
    if a[i] == "Ram":
        print(i,a[i])

0 Ram
4 Ram
6 Ram

In [54]:
a = ['Ram','Shyam','Hari','Ramesh','Ram','Shyam','Ram']
n = len(a)
for i in range(n):
    if a[i] == "Ram":
        a.remove("Ram")
    print(i,a[i])

0 Shyam
1 Hari
2 Ramesh
3 Shyam

IndexError: list index out of range

In [55]:
# update
a = ['Ram','Shyam','Hari','Ramesh','Ram','Shyam','Ram']
a[0] = "Raj"
a

['Raj', 'Shyam', 'Hari', 'Ramesh', 'Ram', 'Shyam', 'Ram']

In [57]:
# update
a = ['Ram','Shyam','Hari','Ramesh','Ram','Shyam','Ram']
a[0:4] = ["Raj","Sam","Rajan","Deshant"]
a

['Raj', 'Sam', 'Rajan', 'Deshant', 'Ram', 'Shyam', 'Ram']

In [58]:
# multidimention list
# tupple

In [63]:
a = "Apple 300 3 600\nBanana 100 3 300"
a.split('\n')

['Apple 300 3 600', 'Banana 100 3 300']

In [1]:
# list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]

In [5]:
a = [['Ram',67,'Kathmandu'],
    ['Shyam',32,'Bhaktpur'],
    ['Hari',78,'Lalitpur']]
print(len(a))

3

In [7]:
a = [['Ram',67,'Kathmandu'],
    ['Shyam',32,'Bhaktpur'],
    ['Hari',78,'Lalitpur']]
a[2]

['Hari', 78, 'Lalitpur']

In [10]:
a = [['Ram',67,'Kathmandu'],#00,01,02
    ['Shyam',32,'Bhaktpur'],#10,11,12
    ['Hari',78,'Lalitpur']]#20,21,22
print(a[1][0])

Shyam

In [13]:
a = [['Ram',67,'Kathmandu'],
    ['Shyam',32,'Bhaktpur'],
    ['Hari',78,'Lalitpur']]
a = a+[['Anuj',21,'Manang']]
a

[['Ram', 67, 'Kathmandu'],
 ['Shyam', 32, 'Bhaktpur'],
 ['Hari', 78, 'Lalitpur'],
 ['Anuj', 21, 'Manang']]

In [14]:
n = int(input("Enter n = "))
data = []
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = [name,age,add]
    data.append(info)
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 45
Enter address = hatiban
Enter name = sam
Enter age = 30
Enter address = godawari
[['Ram', 45, 'hatiban'], ['sam', 30, 'godawari']]

In [16]:
x = [['Ram', 45, 'Hatiban'], ['Sam', 30, 'Godawari']]
x.append(['Hari',90,'Bara'])
x

[['Ram', 45, 'hatiban'], ['sam', 30, 'godawari'], ['Hari', 90, 'Bara']]

In [20]:
x[0][0] = 'Rajan'
x

[['Rajan', 45, 'hatiban'], ['sam', 30, 'godawari'], ['Hari', 90, 'Bara']]

In [30]:
# search
x = [['Ram',67,'Kathmandu'],
    ['Shyam',32,'Bhaktpur'],
    ['Hari',78,'Lalitpur']]

search = input("Enter name = ")

for i in x:
    if search in i:
        print(i)

Enter name = Ram
['Ram', 67, 'Kathmandu']

In [33]:
# delete
x = [['Ram',67,'Kathmandu'],
    ['Shyam',32,'Bhaktpur'],
    ['Hari',78,'Lalitpur']]

delete = input("Enter name = ")

for i in x:
    if delete in i:
        x.remove(i)
print(x)

Enter name = Shyam
[['Ram', 67, 'Kathmandu'], ['Hari', 78, 'Lalitpur']]

In [12]:
# index
x = [['Ram',67,'Kathmandu'],
    ['Shyam',32,'Bhaktpur'],
    ['Hari',78,'Lalitpur']]
l = len(x)

index = input("Enter name = ")

for i in range(l):
    if index in x[i]:
        print(i)

print(x)

Enter name = Hari
2
[['Ram', 67, 'Kathmandu'], ['Shyam', 32, 'Bhaktpur'], ['Hari', 78, 'Lalitpur']]

In [17]:
# search
x = [['Ram, Kam, Pam',67,'Kathmandu'],['Shyam',32,'Bhaktpur'],['Hari',78,'Lalitpur'],['Ram',67,'Kathmandu']]

search = input("Enter name = ")

for i in x:
    if search in i[0]:
        print(i)

Enter name = Ram
['Ram, Kam, Pam', 67, 'Kathmandu']
['Ram', 67, 'Kathmandu']

In [18]:
# split
a = "Apple 300 2 600\nBanana 100 3 300"
print(a)

Apple 300 2 600
Banana 100 3 300

In [19]:
a = "Apple 300 2 600\nBanana 100 3 300"
x = a.split('\n')
x

['Apple 300 2 600', 'Banana 100 3 300']

In [20]:
a = "Apple 300 2 600\nBanana 100 3 300"
x = a.split('\n')
print(x)
for i in x:
    print(i.split(' '))# or print(i.split())

['Apple 300 2 600', 'Banana 100 3 300']
['Apple', '300', '2', '600']
['Banana', '100', '3', '300']

In [21]:
a = "Apple 300 2 600\nBanana 100 3 300"
x = a.split('\n')
print(x)
data = []
for i in x:
    y = i.split()
    data.append(y)
print(data)

['Apple 300 2 600', 'Banana 100 3 300']
[['Apple', '300', '2', '600'], ['Banana', '100', '3', '300']]

In [ ]:
# assignment
# create a matrix using row and col input from user //nested list

In [6]:
n = int(input("Enter n = "))
mat = []
for i in range(n):
    a0 = input("Enter a0 = ")
    a1 = input("Enter a1 = ")
    a2 = input("Enter a2 = ")
    matx = [a0,a1,a2]
    mat.append(matx)
    
print(mat)

Enter n = 3
Enter a0 = 11
Enter a1 = 22
Enter a2 = 33
Enter a0 = 44
Enter a1 = 55
Enter a2 = 66
Enter a0 = 7
Enter a1 = 8
Enter a2 = 9
[['11', '22', '33'], ['44', '55', '66'], ['7', '8', '9']]