In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 363.5 kB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-macosx_10_9_x86_64.whl size=247957 sha256=4a098cdf1c72189589d3d01f8d33934ca89f2cbd11b077e300d181894970dbb5
  Stored in directory: /Users/anuj/Library/Caches/pip/wheels/7b/14/39/5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [6]:
import mysql.connector #importing database 

database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "python415pm"
)
db = database.cursor()

In [7]:
sql = "SELECT * FROM student" # select
db.execute(sql)
result = db.fetchall()
result

[(1, 'Ram', 24, 30, 44, 55, 76, 456, 49.99, 'B'),
 (2, 'Sita', 44, 67, 23, 67, 45, 678, 88.5, 'A'),
 (3, 'Hari', 72, 55, 45, 63, 26, 654, 77.93, 'B'),
 (4, 'Shaym', 33, 32, 34, 35, 31, 301, 35.33, 'D'),
 (5, 'Laxmi', 44, 32, 45, 67, 78, 123, 55.3, 'C'),
 (6, 'Jargha', 77, 33, 55, 66, 88, 888, 87.6, 'A'),
 (8, 'Puma', 0, 40, 100, 0, 0, 140, 40.2, 'E')]

In [8]:
sql = "SELECT * FROM student WHERE grade = 'A'" #select with condition
db.execute(sql)
result = db.fetchall()
result

[(2, 'Sita', 44, 67, 23, 67, 45, 678, 88.5, 'A'),
 (6, 'Jargha', 77, 33, 55, 66, 88, 888, 87.6, 'A')]

In [11]:
# insert
sql = '''INSERT INTO student (sn, name, physic, chemistry, math, english, nepali, total, per, grade) 
VALUES (9, 'Nime', 73, 33, 41, 65, 92, 979, 89.6, 'A')''' #sn can be remove because of its a primary key
db.execute(sql)
database.commit()

In [17]:
# inserting by user entry
name = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))
total = physics+chemistry+math+english+nepali
per = total/5
if per >= 80:
    grade = 'A'
elif per >= 60:
    grade = 'B'
elif per >= 45:
    grade = 'C'
else:
    grade = 'F'

sql = f'''INSERT INTO student (name, physic, chemistry, math, english, nepali, total, per, grade) 
VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}')'''
db.execute(sql)
database.commit()

Enter name = Anuj
Enter physics marks = 76
Enter chemistry marks = 45
Enter math marks = 77
Enter english marks = 33
Enter nepali marks = 65

In [13]:
# update
sql = f'''UPDATE student SET name = 'Madan' WHERE sn = 7'''
db.execute(sql)
database.commit()

In [14]:
# update by user entry
name = input("Enter name = ")
sn = int(input("Enter sn = "))
sql = f'''UPDATE student SET name = '{name}' WHERE sn = {sn}'''
db.execute(sql)
database.commit()

Enter name = Pawan
Enter sn = 8

In [16]:
# delete
sql = f'''DELETE FROM student WHERE sn = 6'''
db.execute(sql)
database.commit()

In [18]:
# delete by user entry
sn = int(input("Enter sn = "))
sql = f'''DELETE FROM student WHERE sn = {sn}'''
db.execute(sql)
database.commit()

Enter sn = 9

In [21]:
# insert
sql = '''INSERT INTO student (sn, name, physic, chemistry, math, english, nepali, total, per, grade) 
VALUES (10, 'Aman', 50, 50, 50, 50, 50, 250, 50, 'C')''' #sn can be remove because of its a primary key
db.execute(sql)
database.commit()