In [2]:
# string
a = "Hello World"
b = "Hello Wrold"
c = '''Hello World'''
print(type (a))
print(type (b))
print(type (c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [4]:
a= "Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
for i in a:
    print(i,end = "")

Hello World

In [8]:
a = input("Enter a = ")
print(a)

Enter a = 34
34

In [16]:
a = "Hello World"
a[4]

'o'

In [17]:
a = "Hello World"
a[0:8]

'Hello Wo'

In [20]:
a = "Hello World"
a[0:8:2]

'HloW'

In [23]:
a = "Hello World"
a = len(a)
a

11

In [26]:
a = "Hello World" #empty in middle for 1st value also called slicing
a[-1::-1]

'dlroW olleH'

In [30]:
name = "Jargha"#problem
age = 22
add = "Kathmandu"
info = "Hello World I am "+name+" I am "+str(age)+" I am from "+add
print(info)

Hello World I am Jargha I am 22 I am from Kathmandu

In [35]:
# formatting problem
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
info = f"Hello World I am {name}. I am from {add}. I am {age}."
print(info)
# f is for formatting

Enter name = fd
Enter age = 44
Enter add = ktm
Hello World I am fd. I am from ktm. I am 44.

In [38]:
s = 0
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = bill + f"{name} {price} * {quantity} = {total}\n"
    s = s+total
print("All total = ",s)
print(bill)
#string is immutable data type

Enter n = 3
Enter name = apple
Enter price = 400
Enter quantity = 3
Enter name = banana
Enter price = 300
Enter quantity = 2
Enter name = orange
Enter price = 300
Enter quantity = 4
All total =  3000
apple 400 * 3 = 1200
banana 300 * 2 = 600
orange 300 * 4 = 1200

In [43]:
a = "Ram Shyam Hari Sita Gita Ramesh"
if "Ram" in a:
    print("There is Ram")
else:
    print("No")

There is Ram

In [48]:
a = "Ram Shyam Hari Sita Gita Ramesh"
b = input("Enter search value = ")
if b in a:
    print("Yes there is",b)
    print(a.count(b))
else:
    print("No")

Enter search value = am
Yes there is am
3

In [49]:
a = "Ram Shyam Hari Sita Gita Ramesh"
print(a.lower())
print(a.upper())
print(a)

ram shyam hari sita gita ramesh
RAM SHYAM HARI SITA GITA RAMESH
Ram Shyam Hari Sita Gita Ramesh

In [51]:
a = "Ram Shyam Hari Sita Gita Ramesh".lower()
b = input("Enter search value = ").lower()
if b in a:
    print("Yes there is",b)
    print(a.count(b))
else:
    print("No")

Enter search value = esh
Yes there is esh
1

In [60]:
a = input("Enter any no = ")
b = input("Enter next no = ")
if a == b[::-1]:
    print("Yes")
else:
    print("No")

Enter any no = 123
Enter next no = 321
Yes

In [64]:
# replace
a = "Ram Shyam Hari Sita Gita Ramesh"
print(a.replace('Ram','Raj'))
print(a)

Raj Shyam Hari Sita Gita Rajesh
Ram Shyam Hari Sita Gita Ramesh

In [65]:
# forcefully replace
a = "Ram Shyam Hari Sita Gita Ramesh"
a = a.replace("Ram","Raj")
a

'Raj Shyam Hari Sita Gita Rajesh'

In [ ]:
# list set array