In [ ]:
# tuple
# -indexing
# -ordered
# -Multiple and duplicate value
# -Imutable

In [2]:
a = tuple()
t = ("Apple","Ball","Cat","Dog")
r = (1,2,3,4,5,6,7,8,9)
print(type(t))
print(type(r))

<class 'tuple'>
<class 'tuple'>

In [4]:
a = ()#tuple
b = ("Apple")#not tuple
c = ("Apple",)#to make tuple , is needed
print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'str'>
<class 'tuple'>

In [ ]:
# no append() insert() extend()
# no update()
# no del remove() pop()

In [7]:
a = ()
b = ("Apple",)
c = ("Ball",)
d = a+b+c
d

('Apple', 'Ball')

In [9]:
n = int(input("Enter n ="))
l = ()
for i in range(n):
    x = input("Enter x = ")
    l = l+(x,)
    
print(l)

Enter n =4
Enter x = dsad
Enter x = fdfd
Enter x = hggh
Enter x = ertr
('dsad', 'fdfd', 'hggh', 'ertr')

In [10]:
a = 123,3654,76578,5234,13,676,
a

(123, 3654, 76578, 5234, 13, 676)

In [ ]:
# sum() max() min() index()

In [11]:
a = (123,565,898,453,9,1111)
b = list(a)
b

[123, 565, 898, 453, 9, 1111]

In [12]:
b = [1,2,3,4,5,6,7,8,9]
a = tuple(b)
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
a = (123,565,342,787,1443)
print(a)
b = list(a)
del b[3]
print(b)
c = tuple(b)
print(c)

(123, 565, 342, 787, 1443)
[123, 565, 342, 1443]
(123, 565, 342, 1443)