In [1]:
# for loop
# while loop

In [2]:
# range(5) 0,1,2,3,4
# range(1,5) 1,2,3,4
# range(1,10,2) 1,3,5,7,9

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [8]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [9]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [10]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 6
6
12
18
24
30
36
42
48
54
60

In [12]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [14]:
for i in range(5):
    x = input("Enter value = ")
    print(x)

Enter value = 3
3
Enter value = 4
4
Enter value = 5
5
Enter value = 6
6
Enter value = 7
7

In [16]:
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter value = ")
    print(x)

Enter n = 6
Enter value = 3
3
Enter value = 4
4
Enter value = 2
2
Enter value = 4
4
Enter value = 55
55
Enter value = 6
6

In [19]:
s = 0
for i in range(5):
    x = int(input("Enter value = "))
    s = s + x
print(s)

Enter value = 43
Enter value = 55
Enter value = 666
Enter value = 22
Enter value = 444
1230

In [24]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter value = "))
    s = s + x
    print(s)
# print(s)

Enter n = 3
Enter value = 2
2
Enter value = 2
4
Enter value = 2
6

In [33]:
s = str() # ' ' for empty string
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter value = ")
    s = s + x + '\t'
    print(s)

Enter n = 2
Enter value = ram
ram
Enter value = sam
ram	sam

In [37]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    number = input("Enter number = ")
    s = s + name + " " + number + '\n'
print(s)

Enter n = 2
Enter name = ram
Enter number = 232
Enter name = sam
Enter number = 2323
ram 232
sam 2323

In [39]:
# factorial
s = 0
n = int(input("Enter n = "))
for i in range(n+1):
    s = s + i
print(s)

Enter n = 4
10

In [45]:
s = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    s = s * i
print(s)

Enter n = 5
120

In [46]:
for i in range(21):
    if i % 2 ==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [47]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [51]:
for i in range(21):
    if i % 2 ==0:
        print(i,end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [52]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [53]:
a = "Python"
for i in a:
    print(i,"Hello World")

P Hello World
y Hello World
t Hello World
h Hello World
o Hello World
n Hello World

In [61]:
a = "Hello World"
for i in a:
    if i != " ":
        print(i,"Python")# space is also count as character

H Python
e Python
l Python
l Python
o Python
W Python
o Python
r Python
l Python
d Python

In [60]:
a = "Hello World I am Python"
for i in a:
    if i != " ":
        print(i,end = "")

HelloWorldIamPython

In [1]:
# while
# control statement

In [2]:
# control statement
# break
# continue

In [9]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [11]:
for i in range(10):
    if i == 5:
        continue
    print(i,end = "")

012346789

In [12]:
for i in range(1,31):
    if i%3 != 0:
        continue
    print(i,end = " ")

3 6 9 12 15 18 21 24 27 30

In [15]:
a = "Hello World. I am Python"
for i in a:
    if i == " ":
        break
    print(i)

H
e
l
l
o

In [19]:
a = "Hello World. I am Python"
# print(a)
for i in a:
    if i == " ":
        continue
    print(i,end = "")

HelloWorld.IamPython

In [20]:
# While Loop
# while <condition>
#     <operation>

In [2]:
a = 0
while a<5:
    print(a,"Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [3]:
a = 5
while a>0:
    print(a,"Hello World")
    a = a-1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [4]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i = i+1

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [8]:
s = 0
i = 0
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter value = "))
    s = s + x
#     print(s)
    i = i+1
print(s)

Enter n = 5
Enter value = 3
Enter value = 3
Enter value = 4
Enter value = 4
Enter value = 3
17

In [12]:
s = str()
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    number = input("Enter number = ")
    s = s + name + " " + number + '\n'
    i = i+1
print(s)

Enter n = 2
Enter name = ram
Enter number = 312321
Enter name = sam
Enter number = 321323213
ram 312321
sam 321323213